.name {
    color: white;
    font-family: Arial;
    font-size: 25px;
    text-align: center;
    vertical-align: top;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.content {
    vertical-align: top;
    color: red;
    font-family: Arial;
    font-size: 50px;
    text-align: center;
    animation: blink 0.5s infinite;
}

.picture {
    display: inline-block;
}

.profile-picture{
    object-fit: cover;
    width: 400px;
    max-height: 400px;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 50%;
}

body {
    background-color: black;
}
